<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="forgotPassword">
  <ion-grid>
    <ion-row >
      <ion-col col-md-12 col-lg-12 col-xl-12  text-center align-self-center style="justify-content: center;height: 100%;display: block;vertical-align: middle;">
        <img class="logo" src="../../assets/imgs/logo.png" >
      </ion-col>
    </ion-row>

    <div class="button_wrapper">

      <div class="demo_margin">

      </div>

      <form novalidate [formGroup]="forgotPwdForm" (ngSubmit) ="sendpwd()">
        <h1 class="pwdHeader">Forgotten Password</h1>
        <ion-grid class="formGrid">
          <p class="emailPara">Please enter your valid email address and you will be sent a link to reset your password. You must use the same email id you have registered with us. If you no longer have the same email address then you must contact us directly with proof of your identity.</p>
          <ion-row class="emailRow">
            <ion-icon icon-start class="inputIcon">
              <img src="../../assets/imgs/usname_icon.jpg" >
            </ion-icon>
            <input [formControl]="forgotPwdForm.controls['email']" type="email" placeholder="Email id" class="form-control_email">
          </ion-row>
          <ion-row *ngIf="forgotPwdForm.controls['email'].hasError('invalidEmail') && forgotPwdForm.controls['email'].touched && forgotPwdForm.controls['email'].pristine " class="alert alert-danger">
            <span class="errorSpan">*Email is required!</span>
          </ion-row>
          <ion-row *ngIf="errormsgforlogin!='' " class="alert alert-danger">         <!--if the login info is wrong-->
            <span class="errorSpan">{{errormsgforlogin}}</span>
          </ion-row>
          <ion-row *ngIf="serverData.status=='success'" class="alert alert-success">
            <span class="successSpan">{{serverData.msg}}</span>
          </ion-row>
        <button ion-button block class="btnemail">SEND EMAIL</button>
        </ion-grid>
      </form>

    </div>
  </ion-grid>

</ion-content>
