<!--
  Generated template for the ResetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="resetPassword">
  <ion-grid>
    <ion-row >
      <ion-col col-md-12 col-lg-12 col-xl-12  text-center align-self-center style="justify-content: center;height: 100%;display: block;vertical-align: middle;">
        <img class="logo" src="../../assets/imgs/logo.png" >
      </ion-col>
    </ion-row>

    <div class="button_wrapper">
      <div class="demo_margin"></div>
      <form novalidate [formGroup]="resetpwdForm" (ngSubmit) ="resetpwd()">
        <h1 class="resetpwdHeader">Reset Password</h1>
        <ion-grid class="formGrid">
          <p class="resetpwdPara">Please enter your valid email address and you will be sent a link to reset your password. You must use the same email id you have registered with us. If you no longer have the same email address then you must contact us directly with proof of your identity.</p>
          <ion-row class="resetpwdRow">
            <ion-icon icon-start class="inputIcon">
              <img src="../../assets/imgs/pass_icon.jpg" >
            </ion-icon>
            <input [formControl]="resetpwdForm.controls['password']" type="password" placeholder="PASSWORD" class="form-control_resetpwd">
            <ion-row *ngIf="!resetpwdForm.controls['password'].valid  && resetpwdForm.controls['password'].touched && resetpwdForm.pristine" class="alert alert-danger">
              <span class="errorSpan">*Password is required!</span>
            </ion-row>

          </ion-row>
          <ion-row class="resetpwdRow">
            <ion-icon icon-start class="inputIcon">
              <img src="../../assets/imgs/pass_icon.jpg" >
            </ion-icon>
            <input [formControl]="resetpwdForm.controls['confirmPassword']" type="password" placeholder="CONFIRM PASSWORD" class="form-control_resetpwd">
            <!--<span>{{resetpwdForm.controls['confirmPassword'].hasError('equalTo')}}</span>-->
            <ion-row *ngIf="resetpwdForm.controls['confirmPassword'].hasError('equalTo') && resetpwdForm.controls['confirmPassword'].touched && resetpwdForm.pristine" class="alert alert-danger">
              <span class="errorSpan">*Password is not matched!</span>
            </ion-row>
          </ion-row>

          <!--<ion-row>-->
            <!--<span class="dataSpan">{{navParams.data.id}}</span>-->

          <!--</ion-row>-->
          <button ion-button block class="btnresetpwd" >SUBMIT</button>
        </ion-grid>
      </form>

    </div>
  </ion-grid>

</ion-content>
